body {
    font-family: sans-serif;
}
header { 
    background-color: rgb(110, 110, 233);
    padding: 45px 0px 45px 30px;
} 
.link-header { 
    text-decoration:none;
    background-color: rgb(110, 110, 233); 
    padding: 5px;
    font-size: 30px;
    color: rgb(255, 255, 255);
} 
h1 { 
    text-align: center;
    color: #2ABA28;
    font-size: 96px;
    text-shadow: 0px 15px 0px 15px;
}
u1 { 
    font-size: 24px;
    list-style: url("https://mars.algoritmika.org/uploads/2021/04/Arrow%201_0_1618309609.png");
    margin-left: 60px;  
}
 li { 
margin-bottom: 20px;
 }
  ol { 
    font-size: 20px;
    margin-left: 60px;
  }
.link-nav { 
    margin: 25px;
    color: black;
} 
p { 
 margin-left: 25px;
} 
ol { 
    margin-left: 20px; 
    font-size: 24px;
   
} 
footer { 
    padding: 40px 0px 40px 80px;
    background-color: #2ABA28
} 
.link-header:hover { 
    box-shadow: 15px 15px 15px 0px rgb(39, 36, 36);
}  

h2 { 
    color: #a4882a;
    font-size: 60px;
} 
.text-big { 
    font-size: 48px; 
    margin-left: 60px;
}
.link-text { 
    color: blue;
    text-decoration: none;
    border-bottom: 2px solid blue;
} 
h1 { 
 text-shadow: 0px 20px 10px gray;
} 
p { 
    font-size: 24px;
    margin-left: 60px;
}
nav{ 
    padding: 35px 40px 0px 40px;
} 
.link-nav { 
    color: black;
    font-size: 24px; 
    margin-right: 35px; 
    text-decoration: none;
   border: 2px solid rgb(110, 110, 233); 
   padding: 10px;
   background-color:rgb(110, 110, 233); 
} 
.link-nav:hover { 
    background-color: #2ABA28;
    color: aliceblue;
}
